@model programs.Models.Character;

@{
  Layout = "_LayoutPortrait";
}

<div class="row mb-4">
<div id="carouselExampleIndicators" class="col-md-8 carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>

  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="@Model.Images[0]" class="d-block w-100"  alt="...">
    </div>
    <div class="carousel-item">
      <img src="@Model.Images[1]" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="@Model.Images[2]" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="@Model.Images[3]" class="d-block w-100"  alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="col-md-4">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><h3>@Model.Name</h3> </li>

    <li class="list-group-item"><strong>Birthday: </strong> @Model.Birthday</li>
    <li class="list-group-item"><strong>Age: </strong> @Model.Age</li>
    <li class="list-group-item"><strong>Gender: </strong> @Model.Gender</li>
    <li class="list-group-item"><strong>Occupation: </strong> @Model.Occupation</li>
    <li class="list-group-item"><strong>Height: </strong> @Model.Height</li>
    <li class="list-group-item"><strong>Weight: </strong> @Model.Weight</li>
    <li class="list-group-item"><strong>Calification: </strong> @Model.Calification</li>
    <li class="list-group-item"><strong>Affiliation: </strong> @Model.Affiliation</li>

  </ul>
</div>
 
</div>
