@model IEnumerable<programs.Models.Song>

@{
    ViewData["Title"] = "Index";
}

@{
    Layout = "_LayoutDataBases";
}

<h1>List of Songs</h1>

<div class="mb-4">
    <form asp-action="Search" method="get" class="form-inline justify-content-end">
        <div class="input-group">
            <input type="text" class="form-control mr-2" name="Search" placeholder="Search Songs">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
</div>

<p>
    <a asp-action="Create">Add a new song</a> |
    <a asp-action="GetNewestSong">Sort song</a>
</p>

@if (!Model.Any())
{
    <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">¡Oops!</h4>
        <p>The song you are looking for can't be found</p>
    </div>
}else{
    <div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card mb-3" style="width: 18rem;">
                <img src="@item.Poster" class="card-img-top" alt="..." width="100px" height="230px">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>


                    <h6><em>@item.Author</em>.</h6>

                    <p><strong>Released: </strong> @item.Release</p>
                    <p><strong>Genre: </strong> @item.Genre</p>

                    

                    <div class="card-body">
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>

                    </div>
            </div>
        </div>
    </div>
    }
</div>

}
